---
// src/pages/blog/[slug].astro
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import Layout from "../../layouts/Default.astro";

interface Props {
  post: CollectionEntry<"blog">;
}

export async function getStaticPaths() {
  const posts = await getCollection("exps");
  return posts.map((post) => ({
    params: { slug: post.id }, // ATTENZIONE: post.id, non post.slug
    props: { post }, // ✅ aggiunto
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title="test-post">
  <div>
    <article>
      <Image
        src={post.data.cover}
        alt={post.data.title}
        class="object-cover object-center !m-0 aspect-square block"
        width={600}
        height={600}
      />
      <h1 class="md:!text-5xl md:!leading-[1.2]">{post.data.title}</h1>
      <p class="lead">{post.data.excerpt}</p>
      <div>
        <Content />
      </div>
    </article>
  </div>
</Layout>
