---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';

import Hero from '../components/Hero.astro';
import Bio from '../components/Bio.astro';
import HydraFrame from '../components/HydraFrame.astro';
import LatestExps from '../components/LatestExps.astro';

import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';


	
---

<!doctype html>
<html lang="en">
	
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>

	<body>

		<main class="mx-3 md:mx-24">

			<Hero />
			<Bio />

			<div class="-mx-3 md:-mx-24">
				<HydraFrame
					title="cubotic waves"
					src="https://hydra.ojack.xyz/?code=b3NjKDElMkMlMjAwLjUlMkMlMjAwLjAwMSklMEElMjAlMjAlMjAlMjAua2FsZWlkKCU1QjMlMkM0JTJDNSUyQzclMkM4JTJDOSUyQzEwJTVELmZhc3QoMC4wMSkpJTBBJTIwJTIwJTIwJTIwLmNvbG9yKDAuNyUyQyUyMDAuMyklMEElMjAlMjAlMjAlMjAuY29sb3JhbWEoLjEpJTBBJTIwJTIwLmRpZmYoZ3JhZGllbnQoLjMpKSUwQSUyMCUyMC5hZGQoc2hhcGUoMiUyQzIpLmJsZW5kKGdyYWRpZW50KDEpKSklMEElMjAlMjAubW9kdWxhdGUobm9pc2UoKSklMEElMjAlMjAlMjAlMjAucm90YXRlKDIlMkMoKSUzRCUzRU1hdGguc2luKHRpbWUpKiUyMC0wLjAwMDElMjApJTBBJTIwJTIwJTIwJTIwLm1vZHVsYXRlUm90YXRlKG8wJTJDKCklM0QlM0VNYXRoLnNpbih0aW1lKSUyMColMjAwLjAwMDEpJTBBJTIwJTIwJTIwJTIwLm1vZHVsYXRlKG8wJTJDJTIwMC45KSUwQSUyMCUyMCUyMCUyMC5zY2FsZSguNSklMEElMjAlMjAlMjAlMjAub3V0KG8wKQ%3D%3D"
				/>

				<LatestExps />

			</div>
			
		</main>
		
		<div class="mx-3 md:mx-24">
			<Footer />
		</div>

	</body>

</html>
