---
const today = new Date();
const { mode } = Astro.props;
---

<div 
class:list={{
	"bg-black": mode === "about",
	" ": mode === "exps",
	" ": mode === "focusexp",
}}>

	<div
		class:list={{
			"px-6 md:px-15 lg:px-23": mode === "about",
			"px-3 md:px-9 lg:px-35": mode === "exps",
			"px-6 md:px-12 lg:px-38": mode === "focusexp",
		}}
	></div>

	<div 
		class:list={{
			"invert": mode === "about",
			"": mode === "exps",
			"": mode === "focusexp",
		}}
	>
		<div class="space-y-4">
			<div class="border mb-8"></div>
			<div class="border-2 my-7"></div>
			<div class="border-3 my-6"></div>
			<div class="border-4 my-5"></div>
			<div class="border-5 my-4"></div>
			<div class="border-6 my-3"></div>
			<div class="border-7 my-2"></div>
			<div class="border-8 my-1"></div>
			<div class="border-9 my-0"></div>

			<div class="bg-black text-white">
				<div
					class:list={{
						"px-6 md:px-15 lg:px-23": mode === "about",
						"px-12 md:px-9 lg:px-35": mode === "exps",
						"px-6 md:px-12 lg:px-38": mode === "focusexp",
					}}
				>
					<div class="pt-4 pb-12 flex flex-col">
						<div class="font-pixelify">Lorenzo Antei</div>
						<div>PI IT01572310116</div>
						<div>{today.getFullYear()} All Wrongs Reserved</div>
						<div>
							<a class="hover:underline hover:animate-pulse hover:text-orange-500" href="mailto:lorenzoantei@proton.me" target="_blank">
								lorenzoantei@proton.me
							</a>
						</div>
							
					</div>
					<div class="pb-12">
						<div class="flex flex-row space-x-12">

							<a href="https://m.webtoo.ls/@loranto" target="_blank">
								<svg
									viewBox="0 0 16 16"
									aria-hidden="true"
									width="32"
									height="32"
									astro-icon="social/mastodon"
									class="text-white hover:text-purple-500 hover:animate-spin transition-colors ease-in-out duration-300"
									fill="currentColor"
									><path
										fill="currentColor"
										d="M11.19 12.195c2.016-.24 3.77-1.475 3.99-2.603.348-1.778.32-4.339.32-4.339 0-3.47-2.286-4.488-2.286-4.488C12.062.238 10.083.017 8.027 0h-.05C5.92.017 3.942.238 2.79.765c0 0-2.285 1.017-2.285 4.488l-.002.662c-.004.64-.007 1.35.011 2.091.083 3.394.626 6.74 3.78 7.57 1.454.383 2.703.463 3.709.408 1.823-.1 2.847-.647 2.847-.647l-.06-1.317s-1.303.41-2.767.36c-1.45-.05-2.98-.156-3.215-1.928a3.614 3.614 0 0 1-.033-.496s1.424.346 3.228.428c1.103.05 2.137-.064 3.188-.189zm1.613-2.47H11.13v-4.08c0-.859-.364-1.295-1.091-1.295-.804 0-1.207.517-1.207 1.541v2.233H7.168V5.89c0-1.024-.403-1.541-1.207-1.541-.727 0-1.091.436-1.091 1.296v4.079H3.197V5.522c0-.859.22-1.541.66-2.046.456-.505 1.052-.764 1.793-.764.856 0 1.504.328 1.933.983L8 4.39l.417-.695c.429-.655 1.077-.983 1.934-.983.74 0 1.336.259 1.791.764.442.505.661 1.187.661 2.046v4.203z"
									></path></svg
								>
							</a>

							<a href="https://t.me/l0r3nz010" target="_blank">
								<svg class="text-white hover:text-blue-500 hover:animate-spin transition-colors ease-in-out duration-300" fill="currentColor" width="32" height="32" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>telegram</title> <path d="M22.122 10.040c0.006-0 0.014-0 0.022-0 0.209 0 0.403 0.065 0.562 0.177l-0.003-0.002c0.116 0.101 0.194 0.243 0.213 0.403l0 0.003c0.020 0.122 0.031 0.262 0.031 0.405 0 0.065-0.002 0.129-0.007 0.193l0-0.009c-0.225 2.369-1.201 8.114-1.697 10.766-0.21 1.123-0.623 1.499-1.023 1.535-0.869 0.081-1.529-0.574-2.371-1.126-1.318-0.865-2.063-1.403-3.342-2.246-1.479-0.973-0.52-1.51 0.322-2.384 0.221-0.23 4.052-3.715 4.127-4.031 0.004-0.019 0.006-0.040 0.006-0.062 0-0.078-0.029-0.149-0.076-0.203l0 0c-0.052-0.034-0.117-0.053-0.185-0.053-0.045 0-0.088 0.009-0.128 0.024l0.002-0.001q-0.198 0.045-6.316 4.174c-0.445 0.351-1.007 0.573-1.619 0.599l-0.006 0c-0.867-0.105-1.654-0.298-2.401-0.573l0.074 0.024c-0.938-0.306-1.683-0.467-1.619-0.985q0.051-0.404 1.114-0.827 6.548-2.853 8.733-3.761c1.607-0.853 3.47-1.555 5.429-2.010l0.157-0.031zM15.93 1.025c-8.302 0.020-15.025 6.755-15.025 15.060 0 8.317 6.742 15.060 15.060 15.060s15.060-6.742 15.060-15.060c0-8.305-6.723-15.040-15.023-15.060h-0.002q-0.035-0-0.070 0z"></path> </g></svg>
							</a>
							
							<a href="https://github.com/lorenzoantei" target="_blank">
								<svg class="text-white hover:text-pink-500 hover:animate-spin transition-colors ease-in-out duration-300" viewBox="0 0 16 16" aria-hidden="true" width="32" height="32" astro-icon="social/github"
									><path
										fill="currentColor"
										d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
									></path></svg
								>
							</a>

							<a href="https://codeberg.org/loranto" target="_blank" class="">
								<svg class="text-white hover:text-blue-500 hover:animate-spin transition-colors ease-in-out duration-300" 
								fill="currentColor" width="32" height="32" viewBox="0 0 24 24" role="img" xmlns="http://www.w3.org/2000/svg"><path d="M11.955.49A12 12 0 0 0 0 12.49a12 12 0 0 0 1.832 6.373L11.838 5.928a.187.14 0 0 1 .324 0l10.006 12.935A12 12 0 0 0 24 12.49a12 12 0 0 0-12-12 12 12 0 0 0-.045 0zm.375 6.467 4.416 16.553a12 12 0 0 0 5.137-4.213z"/></svg>
							</a>
							
						</div>
					</div>
							
				</div>
			</div>
		</div>
	</div>
</div>
