---

import { getTranslations, getLocale } from '../utils/i18n.js';

const t = getTranslations(Astro.url.pathname);
const locale = getLocale(Astro.url.pathname);

---
  <div class="my-24 md:my-12 2xl:my-24 h-auto text-7xl 2xl:text-4xl">
    <h2 class="2xl:text-[100px] font-bold">{t.hello}</h2>

    <h1 class="font-bold flex flex-col 2xl:flex-row text-7xl 2xl:text-[90px]">
      <span class="pt-6 2xl:pt-0">{t.iam}</span>

      <div class="hidden 2xl:block w-4"></div>

      <div
        class="flex flex-col 2xl:flex-row pt-3 2xl:pt-0 items-start 2xl:items-center"
      >
        <span class="border-b-4 border-black pb-1">Lorenzo</span>

        <div class="hidden 2xl:block w-4 h-full border-b-4"></div>

        <div class="pt-6 2xl:pt-0 flex items-center space-x-2">
          <span class="border-b-4 border-black pb-1">Antei</span>
          <span class="inline-block blink-cursor text-black">|</span>
        </div>
      </div>
    </h1>
  </div>
