---
import ExpLayout from '../../../layouts/ExpLayout.astro';

import { type CollectionEntry, getCollection, render } from 'astro:content';

export async function getStaticPaths() {
	const exps = await getCollection('expsEnList');
	return exps.map((exp) => ({
		params: { slug: exp.id },
		props: exp,
	}));
}
type Props = CollectionEntry<'expsEnList'>;

const exp = Astro.props;
const { Content } = await render(exp);


import Footer from '../../../components/Footer.astro';

const activePage='exp';

---

<ExpLayout {activePage} {...exp.data} >
	<Content />
</ExpLayout>

<div class="bg-white mt-32">
    <Footer mode="focusexp" />
</div>
