---
import "../styles/global.css";

import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import BaseHead from '../components/BaseHead.astro';

import ExpsNavbar from '../components/ExpsNavbar.astro';

import Cookiebot from '../components/Cookiebot.astro';

const { activePage = '' } = Astro.props;

const { description, pubDate, updatedDate, heroImage } = Astro.props;
const title = "EXPs ~ Lorenzo Antei";

import Footer from '../components/Footer.astro';

---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<Cookiebot />
	</head>

	<body class="">

		<ExpsNavbar activePage="exps" />

		<main class="p-3">

            <slot />

        </main>

		<div class="bg-white mt-24">
			<Footer mode="exps" />
		</div>
				
	</body>
</html>
